:root {
  --borde-3d: inset -2px -2px 0 #1d1d1d, inset 0 0 0 2px #e8e8e8;
  --background-object: #bfbec4;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(45, 45, 45);
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

div#container {
  margin: 1em 2em;
  padding: 7px;
  background-color: #bfbec4;
  box-shadow: var(--borde-3d);
  width: 60%;
}

h2 + div {
  display: flex;
}

p {
  margin: 0;
}

.casillas > div.objs:nth-child(3) {
  margin-left: 5px;
}

.objs {
  font-weight: 900;
  box-shadow: var(--borde-3d);
  background-color: var(--background-object);
  color: black;
  padding: 2px 8px;
}

header {
  padding: 0 5px;
  background-color: #000074;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index > ul {
  display: flex;
  gap: 1em;
  padding: 5px 5px 7px;
}

h2,
ul {
  padding: 0;
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

li::first-letter {
  text-decoration: underline;
}

main {
  background-color: #bfbec4;
  box-shadow: 0px 0px 1px 4px black;
  margin: 5px;
}

.cv {
  overflow: hidden;
  height: 70vh;
}

embed {
  margin-top: -55px;
  padding: 0;
}

div.info_cv,
footer.info_cv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info_cv > div {
  box-shadow: var(--borde-3d);
  padding: 5px 6px;
  width: 100%;
}

.info_cv > div:first-child {
  width: 180%;
}

footer.info_cv > div {
  box-shadow:
    inset 2px 2px 1px #949494,
    inset -2px -2px 1px #e8e8e8;
  background-color: #bfbfbf;
  padding: 7px;
  width: 100%;
}

@media (max-width: 915px) {
  body {
    font-size: large;
  }

  div#container {
    margin: 1em;
    width: 90%;
  }
}

@media (max-width: 690px) {
  body {
    font-size: small;
  }
}

@media (max-width: 347px) {
  body {
    font-size: x-small;
  }
}
